<footer class="h-10 bg-gray-700 text-white flex items-center justify-end">
  <p>&copy; <%= Date.current.year %> <%= link_to "My github", "https://github.com/cowboy-dev97", class:"hover:text-blue-500" %></p>
</footer>