<nav class="h-20 bg-white text-black flex justify-around items-center">
  <div>
    <p><%= link_to "Instagram", root_path, class: "text-lg hover:underline decoration-2" %></p>
  </div>
  <div class="flex gap-10">
    <p><%= link_to "New post", new_post_path, class: "text-lg hover:underline decoration-2" %></p>
    <p><%= link_to "Log in", "#", class: "text-lg hover:underline decoration-2" %></p>
    <p><%= link_to "Register", "#", class: "text-lg hover:underline decoration-2" %></p>
  </div>
</nav>