<nav class="h-10 bg-gray-700 text-gray-200">
  <div class="h-full mx-auto max-w-7xl flex items-center justify-between h-full">
    <p><%= link_to "Instagram", root_path, class: "px-2 py-1 border-x-2 hover:text-gray-50" %></p>
    <div class="flex h-full items-center">
      <div class="border-x-2 px-2 hover:text-gray-50">
        <p><%= link_to "New post", new_post_path, class: "" %> </p>
      </div>
      <div class="border-r-2 px-2 hover:text-gray-50">
        <p><%= link_to "Log in", "#", class: "" %></p>
      </div>
      <div class="border-r-2 px-2 hover:text-gray-50">
        <p><%= link_to "Register", "#", class: "" %></p>
      </div>
    </div>
  </div>
</nav>